* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 14px;
    
    scroll-behavior: smooth;
}

body {
    position: relative;
}

ul {
    margin: 0 !important;
}

// .row {
//     margin: 0 !important
// }