#chitiet{
    margin-top: 74px!important;
    background-image: url(./../images/bhd-star-bitexco-16105952137769.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
    position: relative;

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to top, #fff, rgba(255,255,255,0.7) ,rgba(255,255,255,0.2));
    }
    
    .container{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .row{
            display: flex;
            align-items: center;
            margin: 0;

            .chitiet_table{
                padding-right: 0px;
                padding-left: 0px;
                
                
                img{
                    width: 80% !important;
                    height: 306px;
                    opacity: 1;
                    border-radius: 4px;
                    width: 100%;
                    box-shadow: 5px 5px 10px rgba(0,0,0,0.5), -5px -5px 10px rgba(0,0,0,0.5);
                }

                .chitiet_text{
                    max-width: 100% !important;
                    height: 100%;
                    // padding: 90px 15px;
                    
                    h3{
                        padding-left: 0px;
                    }

                    p{
                        padding-left: 0px;
                    }

                    button{
                        padding: 7px 19px;
                        font-size: 17px;
                        background-color: #fb4226;
                        color: #fff;

                        &:hover {
                            background-color: #ce3923;
                        }
                    }
                }
                
            }

            .chitiet_table1{
                // padding: 0px 60px;
                display: flex;
                flex-direction: column;
                align-items: center;
                .chitiet_so{

                    p{
                        height: 120px;
                        width: 120px;
                        font-size: 4rem;
                        position: relative;
                        text-align: center;
                        z-index: 1;
                        border-radius: 50%;
                        color: white;
                        background-color: rgba(0, 0, 0, 0.6);
                        margin-bottom: 0px;
                        line-height: 120px;    
                    }

                    .bar{          
                        top: 0;
                        transform: rotate(413deg);
                        font-size: 136px;
                        position: absolute;
                        border: .06em solid #7ed321;
                        width: .88em;
                        height: .88em;
                        clip: rect(0em, 1em, 1em, 0.07em);
                        border-radius: 50%;
                        z-index: 1;
                    }
                }
                
                .chitiet_img{
                    padding: 10px 0px;

                    i {
                        color: red;
                        font-size: 2rem;
                    }
                }

                h4{
                    text-align: center;
                    font-size: 1.2rem;
                }
            }
        }
        
    }
}
